#pageSelect {
	text-align: center;
	margin-left: 100px;
	color: red;
	font-size: 120%;
}

#pageSelect a {
	text-decoration: none;
	color: black;
}

h4 {
	font-size: 90%;
}

.post {
	border-bottom: 1px dotted #0066CC;
}

.post h2 {
    color: #0066CC;
    }

.post h4 a {
    color: #003366;
    }

.post:last-child {
	border-bottom: none;
}

#headerContent h1 {
    color: #000066;
    text-decoration: bold;
    }

#menu {
    padding: 5px 10px;
    }


#menu ul {
    text-align: right;
        }