<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	{% block head %}
	{% endblock %}
	{% load static %}
	<link rel=stylesheet type="text/css" href="{% static 'blog/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
</head>
<body>
	<div id="header">
		<div id="headerContent">
			<h1> Blog Maksyma </h1>
			<span id="topmenu">
				<ul>
				{% if not user.is_authenticated %}
					<li><a href="{% url 'login' %}">Zaloguj się</a></li>
				{% else %}
					
					<li><a href="{% url 'index' %}">Strona glowna</a></li>
					<li><a href="{% url 'add_new_post' %}">Dodaj nowy post</a></li>
					<li><a href="{% url 'edit_profile' %}">Edycja profilu</a></li>
					<li><a href="{% url 'contact' %}">Kontakt</a></li>
					<li><a href="{% url 'logout' %}">Wyloguj się</a></li>
				{% endif %}
			</ul>
			</span>
		</div>
		
	</div>
	<div id="wrapper">
		
		<div id="menu">
			{% if user.is_authenticated %}
			<div id="hello">Witaj, <strong><a href="{% url 'user_name' user.username %}">{{ user.username }}</a></strong>.</div>
			{% endif %}
			<ul>
				<li><a href="{% url 'index' %}">Strona glowna</a></li>
				{% if not user.is_authenticated %}
					<li><a href="{% url 'login' %}">Zaloguj się</a></li>
					<li><a href="{% url 'signup' %}">Rejestracja</a></li>
				{% else %}
					<li><a href="{% url 'add_new_post' %}">Dodaj nowy post</a></li>
					<li><a href="{% url 'edit_profile' %}">Edycja profilu</a></li>
					<li><a href="{% url 'contact' %}">Kontakt</a></li>
					<li><a href="{% url 'logout' %}">Wyloguj się</a></li>
				{% endif %}
			</ul>
		</div>

		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
	</div>

	<div id="footer">
			<div id="footerContent">
				Copyright by Maksym
			</div>
		</div>
</body>
</html>