<div>
	<h2>{% block title %} {% endblock %}</h2>
	<h4>Opublikowany
		{% if not edit_post %}
			{% block publish_date %} {% endblock %}
		{% else %}
			{% block post.edit_date %} {% endblock %}
		{% endif %}
			przez <a href="{% url 'user_name' post.user.username %}">{{ post.user.username }}</h4></a>
	<p> {{ post.content }}</p>
	<p> Tagi: 
		{% for tag in post.tags %}
			<a href="{% url 'tag_view' tag.name %}">#{{ tag.name }}</a>
		{% endfor %}
	</p>
	<form action = "{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{forloop.counter}}" value = "{{choice.id}}"/>
        <label for="choice{{forloop.counter}}"> {{choice.choice_text}} </label> <br>
    {% endfor %}
    {% if user.is_authenticated %}

    <input type="submit" value="vote"/>

    {% endif %}
	</form>
</div>